<!DOCTYPE html>
 <nav class="navbar navbar-expand-lg navbar-light bg-dark sticky-top">
        <div><a class="navbar-brand text-white" href="/home">G-Attendance</a></div>
        <ul style="width:60%" class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link text-muted" href="/home/addStudent"><span>Add Student</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-muted" href="/home/timeTable"><span>Time Tables</span></a>
          </li>
        </ul>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent" style="float: right">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
              <a class="nav-link text-muted" href="/logout"><span>Logout</span></a>
          </li>
        </ul>
      </div>
    </nav>